docker-image:
  executor: infrastructure_container_stable
  parameters:
    aeplugin_devmode:
      type: boolean
      default: false
    tag:
      type: string
  steps:
    - fixed_checkout
    - when:
        condition: << parameters.aeplugin_devmode >>
        steps:
          - aeplugin_install_devmode
    - setup_docker
    - docker_build:
        tag: << parameters.tag >>
    - docker_push:
        tag: << parameters.tag >>
    - fail_notification

docker-buildx:
  executor: buildx
  parameters:
    aeplugin_devmode:
      type: boolean
      default: false
    tag:
      type: string
  steps:
    - fixed_checkout
    - when:
        condition: << parameters.aeplugin_devmode >>
        steps:
          - aeplugin_install_devmode
    - setup_docker
    - docker_buildx:
        tag: << parameters.tag >>
    - fail_notification

docker-tag:
  executor: infrastructure_container_stable
  parameters:
    src:
      type: string
    tag:
      type: string
  steps:
    - fixed_checkout
    - setup_docker
    - docker_tag:
        src: << parameters.src >>
        tag: << parameters.tag >>
    - docker_push:
        tag: << parameters.tag >>
    - fail_notification
