linux-tarball:
  parameters:
    aeplugin_devmode:
      type: boolean
      default: false
    package_name:
      type: string
  executor: builder_container_otp26
  steps:
    - fixed_checkout
    - when:
        condition: << parameters.aeplugin_devmode >>
        steps:
          - aeplugin_install_devmode
    - test_arch_os_dependencies
    - build_tarball:
        output: << pipeline.parameters.packages_workspace >>/<< parameters.package_name >>
    - store_artifacts:
        path: /tmp/package_tests/node1/log
    - store_artifacts:
        path: /tmp/package_tests/node2/log
    - store_artifacts:
        path: /tmp/package_tests/node3/log
    - store_package_artifacts
    - store_rebar3_crashdump
    - persist_to_workspace:
        root: << pipeline.parameters.packages_workspace >>
        paths:
          - "*.tar.gz"
    - fail_notification

ubuntu_package:
  executor: builder_container_otp26
  working_directory: /home/builder/aeternity_deb
  steps:
    - fixed_checkout
    - build_deb:
        output: << pipeline.parameters.packages_workspace >>
    - store_package_artifacts
    - persist_to_workspace:
        root: << pipeline.parameters.packages_workspace >>
        paths:
          - "*.deb"
    - fail_notification

linux-standalone:
  parameters:
    aeplugin_devmode:
      type: boolean
      default: false
    package_name:
      type: string
  executor: builder_container_otp26
  steps:
    - fixed_checkout
    - when:
        condition: << parameters.aeplugin_devmode >>
        steps:
          - aeplugin_install_devmode
    - build_standalone:
        arch: linux-x64
        output: << pipeline.parameters.packages_workspace >>/<< parameters.package_name >>
    - store_package_artifacts
    - persist_to_workspace:
        root: << pipeline.parameters.packages_workspace >>
        paths:
          - "*"
    - fail_notification

macos-tarball:
  parameters:
    aeplugin_devmode:
      type: boolean
      default: false
    package_name:
      type: string
  macos:
    xcode: "14.2.0" # macOS 12.6.3
  resource_class: macos.m1.medium.gen1
  working_directory: /Users/distiller/aeternity
  steps:
    - fixed_checkout
    - when:
        condition: << parameters.aeplugin_devmode >>
        steps:
          - aeplugin_install_devmode
    - run:
        name: Install required tools
        command: |
          brew install autoconf automake libtool gmp libsodium erlang@24 cmake
          brew link erlang@24
    - test_arch_os_dependencies
    - build_tarball:
        output: << pipeline.parameters.packages_workspace >>/<< parameters.package_name >>
    - store_artifacts:
        path: /tmp/package_tests/node1/log
    - store_artifacts:
        path: /tmp/package_tests/node2/log
    - store_artifacts:
        path: /tmp/package_tests/node3/log
    - store_package_artifacts
    - persist_to_workspace:
        root: << pipeline.parameters.packages_workspace >>
        paths:
          - "*.tar.gz"
    - fail_notification

macos-standalone:
  parameters:
    aeplugin_devmode:
      type: boolean
      default: false
    package_name:
      type: string
  macos:
    xcode: "14.2.0" # macOS 12.6.3
  resource_class: macos.m1.medium.gen1
  working_directory: /Users/distiller/aeternity
  steps:
    - fixed_checkout
    - when:
        condition: << parameters.aeplugin_devmode >>
        steps:
          - aeplugin_install_devmode
    - run:
        name: Install required tools
        command: |
          brew install autoconf automake libtool gmp libsodium erlang@24 cmake
          brew link erlang@24
    - build_standalone:
        arch: macos-x64
        output: << pipeline.parameters.packages_workspace >>/<< parameters.package_name >>
    - store_package_artifacts
    - persist_to_workspace:
        root: << pipeline.parameters.packages_workspace >>
        paths:
          - "*"
    - fail_notification
