{{#epoch_config}}
---
peers: {{^peers}}[]{{/peers}}
{{#peers}}
    - {{peer}}
{{/peers}}

sync:
    port: {{services.sync.port}}

http:
    external:
        port: {{services.ext_http.port}}
    internal:
        listen_address: 0.0.0.0
        port: {{services.int_http.port}}

websocket:
    internal:
        listen_address: 0.0.0.0
        port: {{services.int_ws.port}}

keys:
    password: {{key_password}}
    dir: ./keys

chain:
    persist: true

mining:
    autostart: true
    cuckoo:
        miner:
            executable: mean16s-generic
            extra_args: ""
            node_bits: 16
{{/epoch_config}}
