*
!rebar.config
!rebar.lock
!Makefile
!rebar3
!rebar.config.script
!apps
!.git
!otp_patches
!test/ct_eunit_xform.erl
!config
!hooks
!data
!docs
!docker/healthcheck.sh
!README.md
!LICENSE
apps/*/doc/*.html
apps/*/doc/edoc-info
apps/*/doc/erlang.png
apps/*/doc/stylesheet.css
apps/*/test/*.xfm
apps/aecore/c_src/*.[1-9][0-9]o
apps/aecore/priv/keys
apps/aefate/aefate
apps/aefate/aefateasm
apps/aefate/aefateasm.cmd
apps/aefate/src/aefa_fate_eval.erl
apps/aeutils/src/endpoints.erl
apps/aeutils/src/oas_endpoints.erl
otp_patches/*.erl
