*
!rebar.config
!rebar.lock
!Makefile
!rebar3
!rebar.config.script
!VERSION
!apps
!.git
!otp_patches
!test/ct_eunit_xform.erl
!config
!hooks
!data
!docs
!docker/entrypoint.sh
!docker/healthcheck.sh
!README.md
!LICENSE
apps/aecuckoo/c_src
apps/aecuckoo/priv/bin
apps/aecuckoo/priv/lib
apps/aecore/priv/keys
apps/aehttp/priv/swagger-ui
apps/aehttp/priv/swagger-docs
apps/aeutils/src/endpoints.erl
apps/aecore/c_src/*.[1-9][0-9]o
apps/aecore/c_src/cuckoo
apps/aecore/priv/keys
apps/aevarna/src/aeva_parse.erl
apps/aevarna/src/aeva_scan.erl
apps/aebytecode/src/aeb_asm_scan.erl
apps/aevarna/src/aeva_parse.erl
apps/aevarna/src/aeva_scan.erl
apps/*/doc/*.html
apps/*/doc/edoc-info
apps/*/doc/erlang.png
apps/*/doc/stylesheet.css
otp_patches/*.erl
