.rebar3
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
py/bin
py/include
py/lib
py/local
py/man
py/pip-selfcheck.json
nosetests.xml
*.pyc
apps/aecore/c_src/*.[1-9][0-9]o
apps/aecore/c_src/cuckoo
apps/aecore/priv/*.so
apps/aecore/priv/keys
