.rebar3
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
py/bin
py/include
py/lib
py/local
py/man
py/pip-selfcheck.json
nosetests.xml
*.pyc
apps/aecuckoo/c_src
apps/aecuckoo/priv/bin
apps/aecuckoo/priv/lib
apps/aecore/priv/keys
.chain
REVISION
apps/aehttp/priv/swagger-ui
apps/aehttp/priv/swagger-docs
apps/aeutils/src/endpoints.erl
apps/aecore/c_src/*.[1-9][0-9]o
apps/aecore/c_src/cuckoo
apps/aecore/priv
aevm_external
apps/aering/src/aer_constants.erl
apps/aering/src/aer_parser.erl
apps/aering/src/aer_scan.erl
apps/aebytecode/src/aeb_asm_scan.erl
apps/*/doc/*.html
apps/*/doc/edoc-info
apps/*/doc/erlang.png
apps/*/doc/stylesheet.css
otp_patches/*.erl
swagger/swagger-codegen-cli-*.jar
*.erl~
*.aer~
