sudo: required
dist: trusty
language: erlang
otp_release:
  - 20.2.2
before_install:
  - ./ci before_install "${JOB:?}" "${TRAVIS_BUILD_DIR:?}"
install:
  - ./ci install "${JOB:?}" "${TRAVIS_BUILD_DIR:?}"
script:
  - ./ci script "${JOB:?}" "${TRAVIS_BUILD_DIR:?}"
after_failure:
  - ./ci after_failure "${JOB:?}" "${TRAVIS_BUILD_DIR:?}"
deploy:
  - provider: releases
    api_key:
      # See https://docs.travis-ci.com/user/deployment/releases/#Authenticating-with-an-OAuth-token
      secure: SsNvB5u94rozdGDwn4jhkbR9RoN/KQQYij1vXiJzmk1y997GsLG/skBlgqmpuGQap+RgvDHWAJ0sxZh0H+xHZB78SKmhryvLdPTmuN4B3qgvIuJPDtvrogtEDvZ8SXQXOXPlH/o7hBvyfebUXDIqn8UU8DUaexnpmwgxjI+AezHIFRtwyd29pDBQHLebHo3OoB6hsKM6mqxb/SfDXhktSfoqlZ2zQvU1boXzwMo/S54OMY6z2Ui0xbdXilkxwki8yW88ouHsyekmErYMGXS/j1gubxDkMQ+ZO+BcbFR4ZRt2a8FUkqr2pymzf4lBACkxSzzSKJrC8Y49ENpqsCHiZE1ATNsoNKMn8XNynf/N4H6lc8np3BOdcBA+lGz40CAZI8kMal+pGXKsex7lbbvs/gkNufD9LCiW4JAkA/ndFPYobuxE07nraSvD/b8sP2H5uSMXJWMwZMgudmUZh2kdwZFCFTyIAbk8AC94wpJFII/45rL9yXf4tfbBqTUgPnGs0cUuKCRPkdQ5uNnHNzSpi/CQhHob3JVXBJ1Ve67SiUDU44kvkv6PdnX1i95wJkcPeX485amW0w2qX3CwGrwm9pnoOZTRkfBXMRitfxQ2i42r6T7zZTgKjPHDg8Stf6ZPqbmTLj4++hni8bGNICs5caZKinKCH3e60PL5JzPZ0u8=
    file_glob: true
    file: _build/prod/rel/epoch/epoch-*-*.tar.gz
    skip_cleanup: true
    on:
      # See https://docs.travis-ci.com/user/deployment#Conditional-Releases-with-on%3A
      repo: aeternity/epoch
      tags: true
      all_branches: true # Workaround for Travis - see https://github.com/travis-ci/travis-ci/issues/1675#issuecomment-37851765
      condition: "${JOB:?} = package"
  - provider: script
    script: ./ci deploy "${JOB:?}" "${TRAVIS_BUILD_DIR:?}" integration
    skip_cleanup: true
    on:
      # See https://docs.travis-ci.com/user/deployment#Conditional-Releases-with-on%3A
      repo: aeternity/epoch
      branch: master
      condition: "${JOB:?} = package && ${TRAVIS_OS_NAME:?} = linux"
  - provider: script
    script: ./ci deploy "${JOB:?}" "${TRAVIS_BUILD_DIR:?}" uat
    skip_cleanup: true
    on:
      # See https://docs.travis-ci.com/user/deployment#Conditional-Releases-with-on%3A
      repo: aeternity/epoch
      tags: true
      all_branches: true # Workaround for Travis - see https://github.com/travis-ci/travis-ci/issues/1675#issuecomment-37851765
      condition: "${JOB:?} = package && ${TRAVIS_OS_NAME:?} = linux"
  - provider: script
    script: ./ci deploy "${JOB:?}" "${TRAVIS_BUILD_DIR:?}" dev1
    skip_cleanup: true
    on:
      # See https://docs.travis-ci.com/user/deployment#Conditional-Releases-with-on%3A
      repo: aeternity/epoch
      branch: env/dev1
      condition: "${JOB:?} = package && ${TRAVIS_OS_NAME:?} = linux"
  - provider: script
    script: ./ci deploy "${JOB:?}" "${TRAVIS_BUILD_DIR:?}" dev2
    skip_cleanup: true
    on:
      # See https://docs.travis-ci.com/user/deployment#Conditional-Releases-with-on%3A
      repo: aeternity/epoch
      branch: env/dev2
      condition: "${JOB:?} = package && ${TRAVIS_OS_NAME:?} = linux"
matrix:
  include:
    - os: osx
      osx_image: xcode8.3 # [`xcode8.3` is Xcode 8.3.3 on OS X 10.12](https://docs.travis-ci.com/user/reference/osx#OS-X-Version)
      language: generic
      env: JOB=package
  allow_failures:
    - os: osx
      env: JOB=package
  fast_finish: true

env:
  - JOB=dummy ## Workaround for Travis CI - that otherwise with only jobs `package`-linux and and `package`-osx runs only `package`-osx.
  - JOB=package
cache:
  directories:
    - $HOME/.cache/rebar3
    - $HOME/Library/Caches/Homebrew
    - $HOME/.cache/pip
