# Small local network of three nodes using the fastest mean15
version: '3'
services:
  node1:
    build: .
    image: aeternity/aeternity:${IMAGE_TAG-latest}
    hostname: node1
    environment:
      EPOCH_CONFIG: /home/aeternity/aeternity.yaml
    command: >
      -aecore expected_mine_rate ${AETERNITY_MINE_RATE:-15000}
    volumes:
      - ${PWD}/docker/aeternity_node1_mean15.yaml:/home/aeternity/aeternity.yaml
      - ${PWD}/docker/keys/node1:/home/aeternity/node/keys
      - node1_db:/home/aeternity/node/data/mnesia

  node2:
    image: aeternity/aeternity:${IMAGE_TAG-latest}
    hostname: node2
    environment:
      EPOCH_CONFIG: /home/aeternity/aeternity.yaml
    command: >
      -aecore expected_mine_rate ${AETERNITY_MINE_RATE:-15000}
    volumes:
      - ${PWD}/docker/aeternity_node2_mean15.yaml:/home/aeternity/aeternity.yaml
      - ${PWD}/docker/keys/node2:/home/aeternity/node/keys
      - node2_db:/home/aeternity/node/data/mnesia

  node3:
    image: aeternity/aeternity:${IMAGE_TAG-latest}
    hostname: node3
    environment:
      EPOCH_CONFIG: /home/aeternity/aeternity.yaml
    command: >
      -aecore expected_mine_rate ${AETERNITY_MINE_RATE:-15000}
    volumes:
      - ${PWD}/docker/aeternity_node3_mean15.yaml:/home/aeternity/aeternity.yaml
      - ${PWD}/docker/keys/node3:/home/aeternity/node/keys
      - node3_db:/home/aeternity/node/data/mnesia

  proxy:
    image: nginx:1.13.8
    hostname: proxy
    ports:
     - "3001:3001"
     - "3002:3002"
     - "3003:3003"
    volumes:
      - ${PWD}/docker/nginx-default.conf:/etc/nginx/conf.d/default.conf
      - ${PWD}/docker/nginx-cors.conf:/etc/nginx/cors.conf
      - ${PWD}/docker/nginx-ws.conf:/etc/nginx/ws.conf

volumes:
  node1_db:
  node1_keys:
  node2_db:
  node2_keys:
  node3_db:
  node3_keys:
