{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [{lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.5.1"}}},
        {gb_merkle_trees, {git, "https://github.com/aeternity/gb_merkle_trees.git", {ref, "4db7aad"}}},
        {rocksdb, "0.12.0"}
       ]}.

{relx, [{release, { epoch, "0.1.0" },
         [aecore]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{local, [{relx, [{dev_mode, true},
                             {include_erts, false},
                             {include_src, true}]}]
            },
            {dev1, [{relx, [{dev_mode, false},
                             {include_erts, false},
                             {sys_config, "./config/dev1/sys.config"},
                             {vm_args, "./config/dev1/vm.args"}]}
                    ]
            },
            {test, [{relx, [{dev_mode, true},
                            {include_erts, false},
                            {include_src, true}]},
                    {deps, [{meck, ".*", {git, "git://github.com/eproxus/meck.git", {tag, "0.8.6"}}}
                           ]}
                   ]},
            {prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {include_src, false}]}
                   ]}
           ]
}.

{pre_hooks, [{"(linux|darwin)", compile, "make -C apps/aecore/c_src all"},
             {"(linux|darwin)", release, "make -C apps/aecore/c_src all"},
             {"(linux|darwin)", eunit, "make -C apps/aecore/c_src test"}]}.
{post_hooks, [{"(linux|darwin)", clean, "make -C apps/aecore/c_src clean"}]}.
