{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.5.1"}}}
]}.

{relx, [{release, { epoch, "0.1.0" },
         [aecore]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{local, [{relx, [{dev_mode, true},
                             {include_erts, false},
                             {include_src, true}]}]
            },
            {prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {include_src, false}]}]
            }]
}.
