{minimum_otp_vsn, "20.1"}.

{erl_opts, [debug_info]}.

{deps, [ {getopt, "1.0.1"}
       , {lager, {git, "https://github.com/erlang-lager/lager.git",
                 {ref, "69b4ada"}}} % tag: 3.6.7
       , {aebytecode, {git, "https://github.com/aeternity/aebytecode.git",
                     {branch, "fortuna"}}}
       ]}.


{escript_incl_apps, [aefate, aebytecode, lager, getopt]}.
{escript_main_app, aefate}.
{escript_name, aefate}.
{escript_emu_args, "%%! +sbtu +A0\n"}.
{provider_hooks, [{post, [{compile, escriptize}]}]}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/aefate\" ./aefate"},
              {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ aefatea* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps, all_deps},
            {base_plt_apps, [erts, kernel, stdlib, crypto, getopt]}
           ]}.


{relx, [{release, {aefate, "0.0.1"},
         [aefate, aebytecode, getopt]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.