infrastructure_container_unstable:
  docker:
    - image: aeternity/infrastructure:latest
  resource_class: large

infrastructure_container_stable:
  docker:
    - image: aeternity/infrastructure:v2.13.1
  resource_class: large

builder_container_otp23:
  docker:
    - image: aeternity/builder:bionic-otp23
      user: builder
  working_directory: /home/builder/aeternity
  environment:
    OTP_VERSION: 23.3.4.5
    ERLANG_ROCKSDB_BUILDOPTS: "-j2"
    ERLANG_ROCKSDB_OPTS: "-DWITH_SYSTEM_ROCKSDB=ON -DWITH_SNAPPY=ON -DWITH_LZ4=ON -DWITH_BZ2=ON -DWITH_ZSTD=ON"

builder_container_otp24:
  docker:
    - image: aeternity/builder:bionic-otp24
      user: builder
  working_directory: /home/builder/aeternity
  environment:
    OTP_VERSION: 24.1.3
    ERLANG_ROCKSDB_BUILDOPTS: "-j2"
    ERLANG_ROCKSDB_OPTS: "-DWITH_SYSTEM_ROCKSDB=ON -DWITH_SNAPPY=ON -DWITH_LZ4=ON -DWITH_BZ2=ON -DWITH_ZSTD=ON"

builder_container_nix_alpine:
  docker:
    - image: nixorg/nix:circleci
  working_directory: /home/circleci/aeternity
  environment:
    ERLANG_ROCKSDB_BUILDOPTS: "-j2"

buildpack:
  docker:
    - image: circleci/buildpack-deps:xenial
  working_directory: /home/circleci/aeternity

machine_2004:
  resource_class: large
  machine:
    image: ubuntu-2004:202111-01
    docker_layer_caching: true
  working_directory: /home/circleci/aeternity
  environment:
    OTP_VERSION: 23.3.4.5
    LIBSODIUM_VERSION: "1.0.16"

buildx:
  machine:
    image: ubuntu-2004:current
    resource_class: xlarge
  working_directory: /home/circleci/aeternity
