---
sync:
    port: {{ config.sync.port }}

peers:
    {% for host in groups[hosts_group] | difference([inventory_hostname]) %}
    {% if hostvars[host]['sync_public_key'] is defined %}
- peer: {host: {{ hostvars[host]['ansible_default_ipv4']['address'] }}, port: 3015, pubkey: {{ hostvars[host]['sync_public_key'] }}}
    {% else %}
- peer: {host: {{ hostvars[host]['ansible_default_ipv4']['address'] }}, port: 3015, pubkey: "no-key-found-peer-will-be-ignored"}
    {% endif %}
    {% endfor %}

keys:
    dir: {{ config.keypair.dir }}
    password: "{{ config.keypair.password }}"

http:
    external:
        peer_address: {{ config.http.external.peer_address }}
        port: {{ config.http.external.port }}
    internal:
        listen_address: {{ config.http.internal.listen_address }}
        port: {{ config.http.internal.port }}

websocket:
    internal:
        listen_address: {{ config.websocket.internal.listen_address }}
        port: {{ config.websocket.internal.port }}

mining:
    autostart: true
    expected_mine_rate: {{ config.mining.expected_mine_rate }}
    cuckoo:
        miner:
            executable: {{ config.mining.cuckoo.miner.executable }}
            extra_args: ""
            node_bits: {{ config.mining.cuckoo.miner.node_bits }}

chain:
    persist: {{ config.chain.persist | bool | lower }}
    db_path: {{ config.chain.db_path }}

logging:
    level: {{ config.logging.level }}
