---
{% if 'epoch' in group_names %}
peers:
    {% for host in ansible_play_hosts | difference([inventory_hostname]) %}
- "http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:3013/"
    {% endfor %}
{%- endif %}

keys:
    dir: {{ config.keypair.dir }}
    password: "{{ config.keypair.password }}"

http:
    external:
        peer_address: {{ ansible_default_ipv4.address }}

mining:
    autostart: true

chain:
    persist: {{ config.chain.persist | bool | lower }}
    db_path: {{ config.chain.db_path }}
