{% if 'epoch' in group_names %}[
{aecore,
 [
  {peers,
    [
        {%- for host in ansible_play_hosts | difference([inventory_hostname]) -%}
            "http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:3013/"
            {%- if not loop.last %},{% endif -%}
        {%- endfor -%}
    ]}
 ]}
].
{% endif %}
