---
peers:
    {% for host in groups[hosts_group] | difference([inventory_hostname]) %}
- "http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:3013/"
    {% endfor %}

keys:
    dir: {{ config.keypair.dir }}
    password: "{{ config.keypair.password }}"

http:
    external:
        peer_address: {{ config.http.external.peer_address }}
        port: {{ config.http.external.port }}

mining:
    autostart: true
    expected_mine_rate: {{ config.mining.expected_mine_rate }}

chain:
    persist: {{ config.chain.persist | bool | lower }}
    db_path: {{ config.chain.db_path }}

logging:
    level: {{ config.logging.level }}
