version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.1.2

parameters:
  run_system_tests:
    type: boolean
    default: false

jobs:
  generate:
    docker:
      - image: circleci/circleci-cli:latest
    steps:
      - checkout
      - run:
          name: Generate config
          command: |
            mkdir -p .circleci/generated
            circleci config pack .circleci/config/ > .circleci/generated/config.yml
      - persist_to_workspace:
          root: .circleci/generated
          paths:
            - config.yml

  setup:
    executor: continuation/default
    steps:
      - attach_workspace:
          at: .circleci/generated
      - continuation/continue:
          configuration_path: .circleci/generated/config.yml

workflows:
  setup:
    jobs:
      - generate:
          filters:
            tags:
              only: "/^v.*$/"
      - setup:
          requires:
            - generate
          filters:
            tags:
              only: "/^v.*$/"
