{{#epoch_config}}
---
peers: {{^peers}}[]{{/peers}}
{{#peers}}
    - {{peer}}
{{/peers}}

sync:
    port: {{services.sync.port}}

http:
    external:
        port: {{services.ext_http.port}}
    internal:
        listen_address: 0.0.0.0
        port: {{services.int_http.port}}

websocket:
    internal:
        listen_address: 0.0.0.0
        port: {{services.int_ws.port}}

keys:
    password: "top secret"
    dir: ./keys

chain:
    persist: true
{{#hard_forks_present}}
    hard_forks:
{{/hard_forks_present}}
{{#hard_forks}}
        "{{version}}": {{height}}
{{/hard_forks}}

mining:
    autostart: false
{{/epoch_config}}
