docker_repo:
  type: string
  default: aeternity/aeternity

aeplugin_devmode_version:
  type: string
  default: "0.5.1"

tag_regex:
  type: string
  default: "/^v.*$/"

tag_pattern:
  type: string
  default: "v.*$"

master_branch:
  type: string
  default: master

packages_workspace:
  type: string
  default: /tmp/packages

rebar_cache_key:
  type: string
  default: rebar-cache-{{ checksum "rebar.lock" }}-{{ checksum "rebar.config" }}

build_cache_version:
  type: string
  default: "v5"

build_nix_cache_key:
  type: string
  default: build-nix-cache-v3-{{ .Revision }}

machine_build_cache_key:
  type: string
  default: machine-build-cache-v20-{{ .Branch }}-{{ .Revision }}

s3_builds_bucket:
  type: string
  default: aeternity-node-builds

s3_releases_bucket:
  type: string
  default: aeternity-node-releases

run_system_tests:
  type: boolean
  default: false

run_integration_sync:
  type: boolean
  default: false

docker_builder_image:
  type: string
  default: "aeternity/builder:bionic-otp23"
