{{#epoch_config}}
---
peers: {{^peers}}[]{{/peers}}
{{#peers}}
    - {{peer}}
{{/peers}}

sync:
    port: {{services.sync.port}}
    ping_interval: 5000
    single_outbound_per_group: false
    resolver_backoff_times: [1000]  # Small compared to ping_interval, so when test adds container to network the node resolves peer hostname soon and starts syncing.

http:
    external:
        port: {{services.ext_http.port}}
    internal:
        listen_address: 0.0.0.0
        port: {{services.int_http.port}}

keys:
    peer_password: {{key_password}}
    dir: ./keys

chain:
    persist: true

mining:
    beneficiary: "ak_2VoAhMd7tVJrDYM5vPJwFRjueZyirDJumVJNeBWL9j1eNTHsRx"
    autostart: true
    micro_block_cycle: 100
    expected_mine_rate: 1000
    cuckoo:
        miner:
            executable: mean15-generic
            extra_args: ""
            edge_bits: 15
{{/epoch_config}}
