{{#aeternity_config}}
---
peers: {{^peers}}[]{{/peers}}
{{#peers}}
    - {{peer}}
{{/peers}}

sync:
    port: {{services.sync.port}}
    single_outbound_per_group: false

websocket:
    channel:
        listen_address: 0.0.0.0
        port: {{services.ext_ws.port}}

keys:
    peer_password: {{key_password}}
    dir: ./keys

http:
    external:
        port: {{services.ext_http.port}}

chain:
    persist: true
    hard_forks:
        "1": 0

mining:
    beneficiary: "ak_2VoAhMd7tVJrDYM5vPJwFRjueZyirDJumVJNeBWL9j1eNTHsRx"
    autostart: {{mining.autostart}}
    expected_mine_rate: 1000
    cuckoo:
        edge_bits: 15
        miners:
            - executable: mean15-generic

fork_management:
    network_id: "ae_system_test"
{{/aeternity_config}}
