Source: aeternity-node
Section: misc
Priority: optional
Maintainer: Aeternity Team <info@aeternity.com>
Build-Depends: debhelper, ncurses-dev, libssl-dev, git, curl,
	       autoconf, build-essential,
	       erlang ( >=1:24.3.4.15)
Build-Conflicts: erlang ( >=1:27.0)

Package: aeternity-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: AEternity blockchain implementation in Erlang.
 Optimized for scalability via smart contracts inside
 state-channels. Has a built-in oracle for integration with real-world
 data.
