Source: aeternity-node
Section: misc
Maintainer: Ivaylo Valkov <ivaylo.valkov@quanterall.com>
Build-Depends: debhelper, erlang ( >=1:20.2-1),  erlang-base ( >=1:20.2-1), erlang-dev ( >=1:20.2-1),
	       erlang-edoc ( >=1:20.2-1), ncurses-dev, libssl-dev, git, curl,
	       autoconf, build-essential

Package: aeternity-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: AEternity blockchain implementation in Erlang.
 Optimized for scalability via smart contracts inside
 state-channels. Has a built-in oracle for integration with real-world
 data.
