[

  {lager, [
      {error_logger_flush_queue, false},
      {handlers, [
          {lager_console_backend, [{level, debug}]}
      ]},
      {extra_sinks, [
           {epoch_mining_lager_event, [
             {handlers, [
             ]}
           ]},
           {epoch_pow_cuckoo_lager_event, [
             {handlers, [
             ]}
           ]},
           {epoch_metrics_lager_event, [
             {handlers, [
             ]}
           ]},
           {epoch_sync_lager_event, [
             {handlers, [
                {lager_console_backend, [{level, info}]}
             ]}
           ]}
      ]}
  ]},

  {sasl, [
    {sasl_error_logger, false}
  ]},

  {mnesia, [{dir, "data/mnesia"}]},

  {setup, [
           {abort_on_error, true},
           {data_dir, "data"},
           {log_dir, "log"}
          ]}
].
