swagger: '2.0'
openapi: '3.0.0'
info:
  description: 'This is the [Aeternity](https://www.aeternity.com/) Epoch API.'
  version: 1.0.0
  title: Aeternity Epoch
  termsOfService: 'https://www.aeternity.com/terms/'
  contact:
    email: apiteam@aeternity.com
basePath: /v1
tags:
  - name: external
    description: External API
schemes:
  - http
paths:
  /ping:
    post:
      tags:
        - external
      operationId: Ping
      description: ''
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Ping a peer
          required: true
          schema:
            $ref: '#/definitions/Ping'
      responses:
        '200':
          description: Sample response
          schema:
            $ref: '#/definitions/Ping'
        '404':
          description: Different genesis blocks
          schema:
            $ref: '#/definitions/Error'
      security: []
  /top:
    get:
      tags:
        - external
      operationId: GetTop 
      description: 'Get the top block header'
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Top'
      security: []
  /block-by-height:
    get:
      tags:
        - external
      operationId: GetBlockByHeight
      description: 'Get a block by height'
      consumes:
        - application/json
      produces:
        - application/json
      parameters: 
        - in: query
          name: height
          description: 'Height of the block to fetch'
          required: true
          type : integer
      responses:
        '200':
          description: The block being found  
          schema:
            $ref: '#/definitions/Block'
        '404':
          description: Block not found
          schema:
            $ref: '#/definitions/Error'
      security: []
  /block-by-hash:
    get:
      tags:
        - external
      operationId: GetBlockByHash 
      description: 'Get a block by hash'
      consumes:
        - application/json
      produces:
        - application/json
      parameters: 
        - in: query
          name: hash
          description: 'Hash of the block to fetch'
          required: true
          type : string
      responses:
        '200':
          description: The block being found  
          schema:
            $ref: '#/definitions/Block'
        '404':
          description: Block not found
          schema:
            $ref: '#/definitions/Error'
      security: []
  /block:
    post:
      tags:
        - external
      operationId: PostBlock 
      description: 'Post a new block'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Put a new block to node
          required: true
          schema:
            $ref: '#/definitions/Block'
      responses:
        '200':
          description: successful operation
        '400':
          description: Block or header validation error
          schema:
            $ref: '#/definitions/Error'
      security: []
  /account/balance:
    get:
      tags:
        - external
      operationId: GetAccountBalance
      description: 'Get account''s balance'
      consumes:
        - application/json
      produces:
        - application/json
      parameters: 
        - in: query
          name: pub_key
          description: 'Public key to extract balance for'
          type : string
      responses:
        '200':
          description: Account's balance
          schema:
            $ref: '#/definitions/Balance'
        '404':
          description: Account not found
          schema:
            $ref: '#/definitions/Error'
      security: []
definitions:
  Block:
    type: object
    properties:
      height:
        type: integer
        format: int64
      prev_hash:
        type: string
      state_hash:
        type: string
      txs_hash:
        type: string
      target:
        type: integer
        format: int64
      nonce:
        type: integer
        format: int64
      time:
        type: integer
        format: int64
      version:
        type: integer
        format: int64
      pow:
        type: array
        items:
          type: integer 
      transactions:
        type: array
        items:
          $ref: '#/definitions/SignedTx'
  Top:
    type: object
    properties:
      height:
        type: integer
        format: int64
      hash:
        type: string
      prev_hash:
        type: string
      state_hash:
        type: string
      txs_hash:
        type: string
      difficulty:
        type: integer
        format: int64
      nonce:
        type: integer
        format: int64
      time:
        type: integer
        format: int64
      version:
        type: integer
        format: int64
      pow:
        type: string
  Ping:
    type: object
    properties:
      source:
        type: string
      genesis_hash:
        type: string
      best_hash:
        type: string
      difficulty:
        type: number
      share:
        type: integer
        format: int64
      peers:
        type: array
        items:
          type: string
  Error:
    type: object
    properties:
      reason:
        type: string
  Balance:
    type: object
    properties:
      balance:
        type: integer
        format: int64
  CoinbaseTx:
    type: object
    properties:
      pubkey:
        type: string
      nonce:
        type: integer 
  SignedTx:
    type: object
    properties:
      type:
        type: string
      data:
        type: object
        schema:
          oneOf:
            - $ref: '#/definitions/CoinbaseTx'
      signatures:
        type: array
        items:
          type: string
externalDocs:
  description: Find out more about Aeternity
  url: 'http://www.aeternity.com'
