[
  %% conf111

  { epoch, []},

  {aecore, [
      {keys_dir, "/tmp/keys"},
      {password, <<"secret">>}
    ]
  },

  {lager, [
      {handlers, [
          {lager_file_backend,
            [{file, "log/epoch.log"}, {level, debug}, {size, 41943040}, {date, "$D0"}, {count, 10}]}
      ]}
  ]}
].
