
[
  { kernel,
    [
     {inet_dist_use_interface, {127,0,0,1}}
    ]
  },

  { aehttp, [
      {external, [
          {acceptors, 10},
          {port, 3013}
          ]},
      {internal, [
          {acceptors, 10},
          {port, 3113}
          ]},
      {channel, [
          {websocket, [ {port, 3014},
                        {handlers, 100},
                        {listen_address, <<"127.0.0.1">>}
                      ]}
          ]}
  ]},

  {jobs, [
      {auto_restore, true},
      {samplers, [
          {<<"mempool.size">>, aec_sampler_tx_pool, []}
       ]}
   ]},

  {aecore, [
      {peers, []},
      {mainnet_peers, [
        <<"aenode://pp_2gPZjuPnJnTVEbrB9Qgv7f4MdhM4Jh6PD22mB2iBA1g7FRvHTk@52.220.198.72:3015">>,
        <<"aenode://pp_H4ooofyixJE6weqsgzKMKTdjZwEWb2BMSWqdFqbwZjssvtUEZ@18.217.69.24:3015">>,
        <<"aenode://pp_2eu9njAqnd2s9nfSHNCHMbw96dajSATz1rgT6PokH2Lsa531Sp@3.17.15.122:3015">>,
        <<"aenode://pp_21DNLkjdBuoN7EajkK3ePfRMHbyMkhcuW5rJYBQsXNPDtu3v9n@35.166.231.86:3015">>,
        <<"aenode://pp_RKVZjm7UKPLGvyKWqVZN1pXN6CTCxfmYz2HkNL2xiAhLVd2ho@52.11.110.179:3015">>,
        <<"aenode://pp_sGegC48UrvDA7cvvUU3GPTze9wNUnnK1P4q46mL5jAFddNrbD@13.250.144.60:3015">>,
        <<"aenode://pp_2R7a7JHzfZQU5Ta7DJnFiqRr7ayCcAVakqYzJ2mvZj5k4ms5mV@3.17.15.239:3015">>,
        <<"aenode://pp_8nn6ypcwkaXxJfPGq7DCpBpf9FNfmkXPvGCjJFnLzvwjhCMEH@52.26.157.37:3015">>,
        <<"aenode://pp_QkNjQbJL3Ab1TVG5GesKuZTixBdXEutUtxG677mVu9D4mMNRr@13.228.202.140:3015">>,
        <<"aenode://pp_7N7dkCbg39MYzQv3vCrmjVNfy6QkoVmJe3VtiZ3HRncvTWAAX@13.53.114.199:3015">>,
        <<"aenode://pp_2LnQXCmGqEJymtHAeUGjgcXU7dPLBbsut9rAXDG3nb7sCQK4fN@13.53.213.137:3015">>,
        <<"aenode://pp_NPrJPXfzBU8da5Ufy2o2LmyHXhLX733NPHER2Xh3cTcbK2BDD@13.53.78.163:3015">>
      ]},
      {testnet_peers, [
        <<"aenode://pp_QU9CvhAQH56a2kA15tCnWPRJ2srMJW8ZmfbbFTAy7eG4o16Bf@52.10.46.160:3015">>,
        <<"aenode://pp_2vhFb3HtHd1S7ynbpbFnEdph1tnDXFSfu4NGtq46S2eM5HCdbC@18.195.109.60:3015">>,
        <<"aenode://pp_27xmgQ4N1E3QwHyoutLtZsHW5DSW4zneQJ3CxT5JbUejxtFuAu@13.250.162.250:3015">>,
        <<"aenode://pp_2i8N6XsjCGe1wkdMhDRs7t7xzijrjJDN4xA22RoNGCgt6ay9QB@31.13.249.70:3015">>
      ]},
      {peer_password, <<"secret">>},
      {aec_mining, {29, [{<<"mean29-generic">>, <<"-t 1">>, false, 1, undefined, <<"aecuckoo">>}]}}
    ]
  },

  {lager, [
      {error_logger_flush_queue, false},
      {handlers, [
          {lager_console_backend, [{level, info}]},
          {lager_file_backend,
            [{file, "log/aeternity.log"}, {level, debug},
             {size, 4194303}, {date, "$D0"}, {count, 10}]}
      ]},
      {suppress_supervisor_start_stop, true},
      {traces, [
          {{lager_file_backend, "log/aeternity.log"}, [{sink, lager_event},
                                                       {module, exometer_report},
                                                       {function, subscribe_}], silence}
         ]},
      {extra_sinks, [
           {epoch_mining_lager_event, [
             {handlers, [
               {lager_file_backend, [
                  {file, "log/aeternity_mining.log"},
                  {level, info},
                  {size, 4194303}, {date, "$D0"}, {count, 3}
               ]}
             ]}
           ]},
           {epoch_metrics_lager_event, [
             {handlers, [
               {lager_file_backend, [
                  {file, "log/aeternity_metrics.log"},
                  {level, info},
                  {size, 4194303}, {date, "$D0"}, {count, 3},
                  {formatter, lager_default_formatter},
                  {formatter_config, [time, " ", message, "\n"]}
               ]}
             ]}
           ]},
           {aeminer_lager_event, [
             {handlers, [
	           {lager_file_backend, [
	              {file, "log/aeternity_pow_cuckoo.log"},
	              {level, debug},
	              {size, 4194303}, {date, "$D0"}, {count, 3}
	           ]}
	         ]}
	       ]},
          {epoch_sync_lager_event, [
             {handlers, [
                {lager_console_backend, [{level, info}]},
                {lager_file_backend, [
                  {file, "log/aeternity_sync.log"}, {level, debug},
                  {size, 4194303}, {date, "$D0"}, {count, 3}
               ]}
             ]}
           ]},
          {aestratum_lager_event, [
             {handlers, [
               {lager_file_backend, [
                  {file, "log/aestratum.log"},
                  {level, info},
                  {size, 4194303}, {date, "$D0"}, {count, 3}
               ]}
             ]}
           ]}
      ]}
  ]},

  {sasl, [
    {sasl_error_logger, false}
  ]},

  {mnesia, [{dir, "data/mnesia"}]},

  {setup, [
           {abort_on_error, true},
           {data_dir, "data"},
           {log_dir, "log"}
          ]}
].
