[

  { epoch, [
  ]},

  { aehttp, [
      {swagger_port_external, 3013}
  ]},

  {aecore, [
      {keys_dir, "/tmp/keys"},
      {password, <<"secret">>}
    ]
  },

  {aecore, [
      {keys_dir, "/tmp/keys"},
      {password, <<"secret">>}
    ]
  },

  {lager, [
      {handlers, [
          {lager_file_backend,
            [{file, "log/epoch.log"}, {level, debug}, {size, 41943040}, {date, "$D0"}, {count, 10}]}
      ]}
  ]}
].
