{{#epoch_config}}
---
peers: {{^peers}}[]{{/peers}}
{{#peers}}
    - {{peer}}
{{/peers}}

sync:
    port: {{services.sync.port}}
    single_outbound_per_group: false

http:
    external:
        port: {{services.ext_http.port}}

keys:
    password: {{key_password}}
    dir: ./keys

chain:
    persist: true

mining:
    autostart: true
    beneficiary: {{config.beneficiary}}
    beneficiary_reward_delay: 2
    micro_block_cycle: 100
    expected_mine_rate: 1000
    cuckoo:
        miner:
            executable: mean16s-generic
            extra_args: ""
            node_bits: 16
{{/epoch_config}}
