when:
  not: << pipeline.schedule.name >>
jobs:
  - linux-tarball:
      name: linux-release-tarball
      package_name: aeternity-$CIRCLE_TAG-ubuntu-x86_64.tar.gz
      context: ae-slack
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - linux-tarball:
      name: linux-release-tarball-bundle
      package_name: aeternity-bundle-$CIRCLE_TAG-ubuntu-x86_64.tar.gz
      aeplugin_devmode: true
      context: ae-slack
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - linux-standalone:
      name: linux-release-standalone
      package_name: aeternity-$CIRCLE_TAG-ubuntu-x86_64-standalone
      context: ae-slack
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - ubuntu_package:
      context: ae-slack
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - macos-tarball:
      name: macos-release-tarball
      package_name: aeternity-$CIRCLE_TAG-macos-x86_64.tar.gz
      context: ae-slack
      filters:
        branches:
          only: fix_brew_update

  - macos-tarball:
      name: macos-release-tarball-bundle
      package_name: aeternity-bundle-$CIRCLE_TAG-macos-x86_64.tar.gz
      aeplugin_devmode: true
      context: ae-slack
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - macos-standalone:
      name: macos-release-standalone
      package_name: aeternity-$CIRCLE_TAG-macos-x86_64-standalone
      context: ae-slack
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - slack/on-hold:
      name: hodl-artifact-upload-notification
      context: ae-slack
      requires:
        - linux-release-tarball
        - macos-release-tarball
        - linux-release-tarball-bundle
        - macos-release-tarball-bundle
        - linux-release-standalone
        - macos-release-standalone
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - hodl_artifact_upload:
      type: approval
      requires:
        - hodl-artifact-upload-notification
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - upload-artifacts-s3:
      name: upload-release-tarballs-s3
      bucket: << pipeline.parameters.s3_releases_bucket >>
      context:
        - ae-slack
        - ae-vault-node
      requires:
        - linux-release-tarball
        - macos-release-tarball
        - linux-release-tarball-bundle
        - macos-release-tarball-bundle
        - linux-release-standalone
        - macos-release-standalone
        - hodl_artifact_upload
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - upload-artifacts-github-release:
      context:
        - ae-slack
        - ae-github
      requires:
        - linux-release-tarball
        - macos-release-tarball
        - linux-release-tarball-bundle
        - macos-release-tarball-bundle
        - linux-release-standalone
        - macos-release-standalone
        - hodl_artifact_upload
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - slack/on-hold:
      name: hodl-blue-notification
      context: ae-slack
      requires:
        - linux-release-tarball
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - hodl_blue:
      type: approval
      requires:
        - hodl-blue-notification
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - deploy:
      name: deploy-uat-blue
      version: $CIRCLE_TAG
      env: uat
      color: blue
      downtime: 1800 #30m
      context:
        - ae-slack
        - ae-vault-node
      requires:
        - linux-release-tarball
        - hodl_blue
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - slack/on-hold:
      name: hodl-green-notification
      context: ae-slack
      requires:
        - linux-release-tarball
        - deploy-uat-blue
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - hodl_green:
      type: approval
      requires:
        - hodl-green-notification
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - deploy:
      name: deploy-uat-green
      version: $CIRCLE_TAG
      env: uat
      color: green
      downtime: 1800 #30m
      context:
        - ae-slack
        - ae-vault-node
      requires:
        - linux-release-tarball
        - deploy-uat-blue
        - hodl_green
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - slack/on-hold:
      name: hodl-latest-notification
      context: ae-slack
      requires:
        - linux-release-tarball
        - macos-release-tarball
        - upload-release-tarballs-s3
        - docker-image-tag
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - hodl_latest:
      type: approval
      requires:
        - hodl-latest-notification
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - promote-tarball-s3:
      name: promote-release-linux-tarball-s3
      uri: s3://<< pipeline.parameters.s3_releases_bucket >>/aeternity-$CIRCLE_TAG-ubuntu-x86_64.tar.gz
      context:
        - ae-slack
        - ae-vault-node
      requires:
        - upload-release-tarballs-s3
        - hodl_latest
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - promote-tarball-s3:
      name: promote-release-macos-tarball-s3
      uri: s3://<< pipeline.parameters.s3_releases_bucket >>/aeternity-$CIRCLE_TAG-macos-x86_64.tar.gz
      context:
        - ae-slack
        - ae-vault-node
      requires:
        - upload-release-tarballs-s3
        - hodl_latest
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - publish-release-packages:
      context: ae-slack
      requires:
        - macos-release-tarball
      filters:
        branches:
          only: fix_brew_update

  - docker-image:
      name: docker-image-tag
      tag: $CIRCLE_TAG
      context:
        - ae-slack
        - ae-dockerhub
      requires:
        - hodl_artifact_upload
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - docker-image:
      name: docker-image-tag-bundle
      aeplugin_devmode: true
      tag: $CIRCLE_TAG-bundle
      context:
        - ae-slack
        - ae-dockerhub
      requires:
        - hodl_artifact_upload
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - docker-tag:
      name: docker-image-latest
      src: $CIRCLE_TAG
      tag: latest
      context:
        - ae-slack
        - ae-dockerhub
      requires:
        - docker-image-tag
        - hodl_latest
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - docker-tag:
      name: docker-image-latest-bundle
      src: $CIRCLE_TAG-bundle
      tag: latest-bundle
      context:
        - ae-slack
        - ae-dockerhub
      requires:
        - docker-image-tag
        - hodl_latest
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>

  - finalize-release:
      context:
        - ae-slack
        - ae-dockerhub
      requires:
        - upload-release-tarballs-s3
        - promote-release-linux-tarball-s3
        - promote-release-macos-tarball-s3
        - upload-artifacts-github-release
        - docker-image-tag
        - docker-image-latest
      filters:
        branches:
          ignore: /.*/
        tags:
          only: << pipeline.parameters.tag_regex >>
