{{#aeternity_config}}
---
peers: {{^peers}}[]{{/peers}}
{{#peers}}
    - {{peer}}
{{/peers}}

sync:
    port: {{services.sync.port}}
    single_outbound_per_group: false

http:
    external:
        port: {{services.ext_http.port}}
    internal:
        listen_address: 0.0.0.0
        port: {{services.int_http.port}}
    endpoints:
        debug: true
        dev: true

websocket:
    channel:
        listen_address: 0.0.0.0
        port: {{services.ext_ws.port}}

keys:
    peer_password: {{key_password}}
    dir: ./keys

chain:
    persist: true

mining:
    autostart: {{mining.autostart}}
    strictly_follow_top: {{mining.strictly_follow_top}}
    beneficiary: {{config.beneficiary}}
    beneficiary_reward_delay: 2
    micro_block_cycle: 100
    expected_mine_rate: 1000
    cuckoo:
        edge_bits: 15
        miners:
            - executable: mean15-generic

fork_management:
    network_id: "ae_system_test"
{{/aeternity_config}}
