[
  { kernel,
    [
     {inet_dist_use_interface, {127,0,0,1}}
    ]
  },

  { epoch, [
  ]},

  { aehttp, [
      {external, [
          {acceptors, 10},
          {port, 3033}
          ]},
      {internal, [
          {acceptors, 10},
          {port, 3133}
          ]},
      {channel, [
          {websocket, [ {port, 3034},
                        {handlers, 100},
                        {listen_address, <<"127.0.0.1">>}
                      ]}
          ]},
      {enable_debug_endpoints, true} %% CAUTION: Debug endpoints may be inefficient
  ]},

  {jobs, [
      {auto_restore, true},
      {samplers, [
          {<<"mempool.size">>, aec_sampler_tx_pool, []}
       ]}
   ]},

  {aecore, [
      {sync_port, 3035},

      {peers, [<<"aenode://pp_ySU7cHqsymnuBP9iSe4rMnH1Rz2FStx5rnoewYMJcuPhdaqPk@localhost:3015">>,
               <<"aenode://pp_23YdvfRPQ1b1AMWmkKZUGk2cQLqygQp55FzDWZSEUicPjhxtp5@localhost:3025">>]},

      {metrics_port, 0},
      {peer_password, <<"secret">>},
      {db_path, "."},
      {persist, false},
      {autostart, false},
      {aec_pow_cuckoo, {"mean15-generic", "-t 5", 15, false, 1}}
    ]
  },

  {lager, [
      {error_logger_flush_queue, false},
      {handlers, [
          {lager_file_backend,
            [{file, "log/epoch.log"}, {level, debug},
             {size, 4194303}, {date, "$D0"}, {count, 10}]}
      ]},
      {extra_sinks, [
           {epoch_mining_lager_event, [
             {handlers, [
               {lager_file_backend, [
                  {file, "log/epoch_mining.log"},
                  {level, info},
                  {size, 4194303}, {date, "$D0"}, {count, 3}
               ]}
             ]}
           ]},
           {epoch_pow_cuckoo_lager_event, [
             {handlers, [
               {lager_file_backend, [
                  {file, "log/epoch_pow_cuckoo.log"},
                  {level, debug},
                  {size, 4194303}, {date, "$D0"}, {count, 3}
               ]}
             ]}
           ]},
           {epoch_metrics_lager_event, [
             {handlers, [
               {lager_file_backend, [
                  {file, "log/epoch_metrics.log"},
                  {level, info},
                  {size, 4194303}, {date, "$D0"}, {count, 3},
                  {formatter, lager_default_formatter},
                  {formatter_config, [time, " ", message, "\n"]}
               ]}
             ]}
           ]},
           {epoch_sync_lager_event, [
              {lager_console_backend, [{level, info}]},
              {handlers, [
               {lager_file_backend, [
                  {file, "log/epoch_sync.log"}, {level, debug},
                  {size, 4194303}, {date, "$D0"}, {count, 3}
               ]}
             ]}
           ]}
      ]}
  ]},

  {mnesia, [{dir, "data/mnesia"}]},

  {setup, [
           {abort_on_error, true},
           {data_dir, "data"},
           {log_dir, "log"}
          ]}
].
