[
  { epoch, [
  ]},

  { aehttp, [
      {swagger_port_external, 3033},
      {internal, [
          {swagger_port, 3133},
          {websocket, [ {port, 3134},
                        {tasks, 200}
                      ]}
          ]},
      {enable_debug_endpoints, false} %% CAUTION: Debug endpoints may be inefficient
  ]},
  {aecore, [
      {peers, ["http://localhost:3013",
               "http://localhost:3023"]},
      {metrics_port, 0},
      {password, <<"secret">>},
      {db_path, "."},
      {persist, false},
      {autostart, false},
      {aec_pow_cuckoo, {"mean16s-generic", "-t 5", 16}}
    ]
  },

  {jobs,
   [{queues,
     [{sync_jobs, [passive]},
      {sync_workers, [{regulators,
                       [{counter, [{limit, 10}]}
                       ]},
                      {producer, {aec_sync, sync_worker, []}}
                     ]}
     ]}
   ]},

  {lager, [
      {handlers, [
          {lager_file_backend,
            [{file, "log/epoch.log"}, {level, debug},
             {size, 4194303}, {date, "$D0"}, {count, 10}]}
      ]},
      {extra_sinks, [
           {epoch_mining_lager_event, [
             {handlers, [
               {lager_file_backend, [
                  {file, "log/epoch_mining.log"},
                  {level, info},
                  {size, 4194303}, {date, "$D0"}, {count, 3}
               ]}
             ]}
           ]},
           {epoch_pow_cuckoo_lager_event, [
             {handlers, [
               {lager_file_backend, [
                  {file, "log/epoch_pow_cuckoo.log"},
                  {level, debug},
                  {size, 4194303}, {date, "$D0"}, {count, 3}
               ]}
             ]}
           ]},
           {epoch_metrics_lager_event, [
             {handlers, [
               {lager_file_backend, [
                  {file, "log/epoch_metrics.log"},
                  {level, info},
                  {size, 4194303}, {date, "$D0"}, {count, 3},
                  {formatter, lager_default_formatter},
                  {formatter_config, [time, " ", message, "\n"]}
               ]}
             ]}
           ]}
      ]}
  ]},

  {mnesia, [{dir, "data/mnesia"}]},

  {setup, [
           {abort_on_error, true},
           {data_dir, "data"},
           {log_dir, "log"}
          ]}
].
