---
# Additional playbook that runs on a group first host only and gather facts from all hosts
# This is required to allow deploying on fraction of group hosts
# For example rolling updates and deploying only to single hosts of a group
#
# For example below command will deploy only to ae-dev2-epoch-n0 host in dev2 group
# ansible-playbook --limit="ae-dev2-epoch-n0" --extra-vars "env=dev2" deploy.yml

- name: Facts setup
  hosts: all
  remote_user: epoch
  # Executor facts will be gathered anyway in the task below
  gather_facts: no
  tasks:
    - name: Gather facts from all hosts in {{ env }} group
      setup:
      run_once: yes
      delegate_to: "{{ item }}"
      delegate_facts: yes
      with_items: "{{ groups[env] }}"

- name: Deploy epoch package
  hosts: all
  remote_user: epoch
  # Facts are already collected in the previous playbook
  gather_facts: no
  max_fail_percentage: 25
  serial: "25%"

  vars:
    project_root: "{{ ansible_env.HOME }}/node"
    genesis_accounts_path: "{{ project_root }}/data/aecore/.genesis/accounts.json"

    env: unknown
    config:
      chain:
        persist: true
        db_path: "./db12"
      keypair:
        dir: "keys"
        password: "{{ keys_password|default('secret') }}"

  tasks:
    - name: "Required variables"
      fail: msg="Either remote_package or local_package variables must be defined"
      when: remote_package is not defined and local_package is not defined
      tags: [package]

    - name: "Make sure {{ project_root }} exists"
      file:
          path: "{{ project_root }}"
          state: directory
          # allow group read for integration purposes  (e.g. logs)
          mode: 0750

    - name: Download epoch package
      get_url:
        url: "{{ remote_package }}"
        dest: "{{ project_root }}/{{ remote_package | basename }}"
      when: remote_package is defined
      tags: [package]

    - name: Check if epoch binary exists
      stat:
        path: "{{ project_root }}/bin/epoch"
      register: epoch
      tags: [daemon]

    - name: Ping epoch daemon
      command: "{{ project_root }}/bin/epoch ping"
      failed_when: no
      register: ping
      when: epoch.stat.exists == True
      tags: [daemon]

    - name: Stop epoch daemon
      command: "{{ project_root }}/bin/epoch stop"
      when: epoch.stat.exists == True and ping.stdout == "pong"
      tags: [daemon]

    - name: Extract remote epoch package into {{ project_root }}
      unarchive:
        remote_src: yes
        keep_newer: true
        src: "{{ project_root }}/{{ remote_package | basename }}"
        dest: "{{ project_root }}"
      when: remote_package is defined
      tags: [package]

    - name: Extract local epoch package into {{ project_root }}
      unarchive:
        remote_src: no
        keep_newer: true
        src: "{{ local_package }}"
        dest: "{{ project_root }}"
      when: local_package is defined
      tags: [package]

    - name: Plant ENV file
      copy:
        content: "{{ env }}\n"
        dest: "{{ project_root }}/ENV"
      tags: [package]

    - name: "Make sure chain path ( {{ config.chain.db_path }} ) exists"
      file:
        path: "{{ project_root }}/{{ config.chain.db_path }}"
        state: directory
      tags: [config]

    - name: "Make sure keys dir ( {{ config.keypair.dir }} ) exists"
      file:
        path: "{{ project_root }}/{{ config.keypair.dir }}"
        state: directory
        mode: 0700
      tags: [config]

    - name: "Copy node keys to {{ project_root }}/{{ config.keypair.dir }}"
      copy:
        src: "{{ item }}"
        dest: "{{ project_root }}/{{ config.keypair.dir }}"
        mode: 0600
      with_items: "{{ keypair }}"
      when: keypair is defined
      tags: [config]

    - name: Update epoch configuration
      template:
        src: templates/epoch.yaml.j2
        dest: "{{ project_root }}/epoch.yaml"
        mode: '0600'
      tags: [config]

    - name: Update accounts configuration
      copy:
        content: "{{ genesis_accounts | to_nice_json }}"
        dest: "{{ genesis_accounts_path }}"
      when: genesis_accounts is defined
      tags: [config]

    - name: Start epoch daemon
      command: "{{ project_root }}/bin/epoch start"
      tags: [daemon]
